<h1>Admin Interface</h1>

<label for="result">Result:</label>
<div id="result">Response will appear here.</div>

<div>
  <label for="usernameInput">Username:</label>
  <input type="text" id="usernameInput">
</div>
<div>
  <label for="passwordInput">Password:</label>
  <input type="password" id="passwordInput">
  <button id="loginButton">Login</button>
</div>

<button id="logoutButton">Logout</button>

<button id="getUsersButton">Get Users</button>

<div>
  <label for="userIdInput">User ID to Delete:</label>
  <input type="text" id="userIdInput">
  <button id="deleteUserButton">Delete User</button>
</div>

<script src='/script/admin-interface-script.js'></script>