<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="/css/writeArticle.css">

<p style="color: brown;"><strong id="updated-article-toast-message"></strong></p>

<hr>

<!-- Create the editor container -->
<div id="form-container" class="container">
    <form id="write_article_form">
        <div>
            <div>
                <div id="title-box">
                    <label for="update_article_title">Title</label>
                    <input id="update_article_title" name="update_article_title" type="text"
                        style="height: 20px; width: 500px;" required>
                </div>
                <div id="genre-box">
                    <label for="update_article_genre">Genre</label>
                    <select name="update_article_genre" id="update_article_genre">
                        <option value="none" selected disabled hidden>Select an genre</option>
                        <option value="News Articles">News Articles</option>
                        <option value="Opinion Pieces">Opinion Pieces</option>
                        <option value="Feature Stories">Feature Stories</option>
                        <option value="How-to Guides">How-to Guides</option>
                        <option value="Product Reviews">Product Reviews</option>
                        <option value="Travelogues">Travelogues</option>
                        <option value="Health and Wellness Articles">Health and Wellness Articles</option>
                        <option value="Technology Trends">Technology Trends</option>
                        <option value="Entertainment and Pop Culture">Entertainment and Pop Culture</option>
                        <option value="Historical Analysis">Historical Analysis</option>
                    </select>
                </div>
                <div id="img-container">
                    <div>
                        <img id="current_article_image">
                    </div>
                    <div>
                        <button id="delete-current-image" type="button">Delete</button>
                    </div>
                </div>
                <div id="change-img">
                    <label for="update_article_image">Change Image</label>
                    <input id="update_article_image" name="update_article_iamge" type="file"
                        accept=".png,.jpg,.jpeg,.bmp,.gif">
                </div>
            </div>
        </div>
        <div id="content">
            <label for="update_article_content">Content:</label>
            <input name="update_article_content" type="hidden">
        </div>
        <div id="update_article_content" style="height: 300px">
        </div>
        <div id="update-container">
            <button type="submit">Update!</button>
        </div>
    </form>
    <input id="article_id_temp_storage" , name="article_id_temp_storage" value="{{article_id}}" hidden>
</div>


<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/script/editArticle.js"></script>