<form action='/register' method='post' id='register_page_body'>
    <div id='register_page_container'>
        <div id='register_title'>
            <h1>Register</h1>
            <div>
                <p>Already have an account? <a href='/login'>Log in</a></p>
            </div>
        </div>

        <p>Please fill in to register your account</p>
        <hr />

        <div id='register_fillinbox'>
            <div id='register_fname' class='input-container'>
                <input type='name' name='fname' id='fname' required class='write'>
                <label for='fname' class='label'>First name*</label>
                <span class="enter"></span>
            </div>

            <div id='register_lname' class='input-container'>
                <input type='name' name='lname' id='lname' required class='write'>
                <label for='lname' class='label'>Last name*</label>
                <span class="enter"></span>
            </div>

            <div id='register_email' class='input-container'>
                <input type='email' name='email' id='email' required class='write'>
                <label for='email' class='label'>Email*</label>
                <span class="enter"></span>
                <p id='email-format-error' style='color: red; display: none;'></p>
            </div>

            <div id='register_DOB' class='input-container'>
                <input type='date' name='dob' id='dob' placeholder="" class='write'>
                <label for='date' class='label'></label>
                <span class="enter"></span>
            </div>

             <div id='register_description' class='input-container'>
                <input type='text' name='description' id='description' class='write'>
                <label for='description' class='label'>Description</label>
                <span class="enter"></span>
            </div>

            <div id='register_username' class='input-container'>
                <input type='username' name='username' id='username' required class='write'>
                <label for='username' class='label'>Username*</label>
                <span class="enter"></span>
                <p id='username-error' style='color: red; display: none;'></p>
            </div>

            <div id='register_password' class='input-container'>
                <input type='password' name='password' id='password' required class='write'>
                <label for='password' class='label'>Password*</label>
                <span class="enter"></span>
                <img src='/images/svg/eye.svg' alt='eye icon' id='password-eye' class='icon'>
            </div>

            <div id='confirm_password' class='input-container'>
                <input type='password' name='confirm_password' id='confirm-password' required class='write'>
                <label for='confirm_password' class='label'>Confirm password*</label>
                <span class="enter"></span>
                <img src='/images/svg/eye.svg' alt='eye icon' id='confirm-password-eye' class='icon'>
                <p id='password-format-error' style='color: red; display: none;'></p>
                <p id='password-match-error' style='color: red; display: none;'></p>
            </div>
        </div>

        <div id='icon_container'>
            <label for='icon' id='icon_container_label'>Choose your icon*</label>
            <div id='icon_select_container'>
                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl1' value='girl1' required><label for='icon_girl1'>
                        <img src='/images/avatars/girl1.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl2' value='girl2'><label for='icon_girl2'>
                        <img src='/images/avatars/girl2.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl3' value='girl3'><label for='icon_girl3'>
                        <img src='/images/avatars/girl3.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl4' value='girl4'><label for='icon_girl4'>
                        <img src='/images/avatars/girl4.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl5' value='girl5'><label for='icon_girl5'>
                        <img src='/images/avatars/girl5.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl6' value='girl6'><label for='icon_girl6'>
                        <img src='/images/avatars/girl6.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl7' value='girl7'><label for='icon_girl7'>
                        <img src='/images/avatars/girl7.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl8' value='girl8'><label for='icon_girl8'>
                        <img src='/images/avatars/girl8.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl9' value='girl9'><label for='icon_girl9'>
                        <img src='/images/avatars/girl9.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_girl10' value='girl10'><label for='icon_girl10'>
                        <img src='/images/avatars/girl10.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy1' value='guy1'><label for='icon_guy1'>
                        <img src='/images/avatars/guy1.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy2' value='guy2'><label for='icon_guy2'>
                        <img src='/images/avatars/guy2.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy3' value='guy3'><label for='icon_guy3'>
                        <img src='/images/avatars/guy3.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy4' value='guy4'><label for='icon_guy4'>
                        <img src='/images/avatars/guy4.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy5' value='guy5'><label for='icon_guy5'>
                        <img src='/images/avatars/guy5.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy6' value='guy6'><label for='icon_guy6'>
                        <img src='/images/avatars/guy6.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy7' value='guy7'><label for='icon_guy7'>
                        <img src='/images/avatars/guy7.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy8' value='guy8'><label for='icon_guy8'>
                        <img src='/images/avatars/guy8.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy9' value='guy9'><label for='icon_guy9'>
                        <img src='/images/avatars/guy9.png'>
                    </label>
                </div>

                <div class='icon_select'>
                    <input type='radio' name='icon' id='icon_guy10' value='guy10'><label for='icon_guy10'>
                        <img src='/images/avatars/guy10.png'>
                    </label>
                </div>

            </div>
        </div>
        <div id='register_button'>
            <button type='submit'>Register</button>
        </div>
    </div>
</form>

<link rel='stylesheet' type='text/css' href='/css/animations/form-animation.css'>
<script src='/script/register-script.js'></script>